<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista de Jardineros</h2>

<table class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>Especialidad</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="jardinero : ${jardineros}">
    <td th:text="${jardinero.id}"></td>
    <td th:text="${jardinero.especialidad}"></td>
    <td th:text="${jardinero.email}"></td>
    <td>
      <label>
        <select disabled size="5" style="max-height: 75px; overflow-y: auto">
            <option th:each="planta : ${jardinero.getPlantasAsociadas()}" th:value="${planta.id}" th:text="${planta.especie}"></option>
        </select>
      </label>
    </td>
  </tr>
  </tbody>
</table>

<a th:href="@{/plantas}" class="btn btn-secondary">Ver Lista de Plantas</a>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>