<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<body class="container mt-5">

<h2>Lista de Plantas</h2>

<!--Botones para agregar prospectos y plantas -->
<div class="mb-3">
    <a th:href="@{/agregarProspecto}" class="btn btn-primary">Agregar Prospecto</a>
    <a th:href="@{/agregarPlanta}" class="btn btn-primary">Agregar Planta</a>
</div>

<table class="table table-bordered">

    USUARIO AUTENTICADO:
    <div sec:authentication="principal.username"></div>
    <br>
    ROLES DEL USUARIO AUTENTICADO:
    <div sec:authentication="principal.authorities"></div>
    <br>

    <thead>
    <tr>
        <th>ID</th>
        <th>Especie</th>
        <th>Color Hojas</th>
        <th>Fecha Plantación</th>
        <th>Jardinero</th>
        <th>Prospectos</th>
        <th sec:authorize="hasAuthority('ROL_ADMIN')">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="planta : ${plantas}">
        <td th:text="${planta.id}"></td>
        <td th:text="${planta.especie}"></td>
        <td th:text="${planta.colorHojas}"></td>
        <td th:text="${planta.fechaPlantacion}"></td>

        <td th:text="${userService.obtenerUsuarioPorJardinero(planta.jardinero).nombre +' '+
            userService.obtenerUsuarioPorJardinero(planta.jardinero).apellido}">
        </td>

        <td>
            <ul>
                <li th:each="prospecto : ${planta.getProspectosAsociados}" th:text="${prospecto.nombre}"></li>
            </ul>
        </td>
        <!--Botones de eliminar y actualizar planta-->
        <td sec:authorize="hasAuthority('ROL_ADMIN')">
            <button th:onclick="'eliminarPlantaConfirmacion('+${planta.id}+');'" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/actualizarPlanta/{id}(id=${planta.id})}" class="btn btn-warning">Actualizar</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function eliminarPlantaConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar la planta seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/plantapp/eliminarPlanta/' + id;
            }
        });
    }
</script>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>